.git
.github
.env
.env.*
vendor
node_modules
public/build
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.result.cache
npm-debug.log
README.md
